<!-- Sidebar  -->
<%- include ("./partials/sidebars") %>

<!-- TOP Nav Bar -->
<%- include ("./partials/navbar") %>

<div id="content-page" class="content-page">
  <div class="container-fluid">
    <a class="d-inline-block btn btn-primary mt-0 mb-4" href="/showcase">Back</a>
    <div class="row">
      <div class="col-lg-12">
        <div class="iq-edit-list-data">
          <div class="tab-content">
            <%- include ('./partials/messages') %>
            <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
              <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                    <h4 class="card-title">Brand Information</h4>
                  </div>
                </div>
                <div class="iq-card-body">
                  <form method="post" action="/app/showcase/update" enctype="multipart/form-data">
                    
                    <div class="form-group row align-items-center">
                      <div class="form-group col-sm-6">
                        <label for="fname">Brand Logo:</label>
                      </div>
                      <div class="col-md-12">
                        <div class="profile-img-edit">
                          <% if(brand.img){ %>
                          <img class="profile-pic js-logo-pic" src="/<%= brand.img %>" alt="profile-pic">
                          <% }else{ %>
                            <img class="profile-pic js-logo-pic" src="/images/gradient-use-on-black-no-text.png" alt="profile-pic">
                          <% } %>
                          <div class="p-image">
                            <i class="ri-pencil-line logo-upload-button"></i>
                            <input name="logo" class="logo-upload" type="file" accept="image/*" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="fname">Banner Image:</label>
                      </div>
                      <div class="profile-header">
                        <div class="cover-container">
                          
                          <% if(brand.banner){ %>
                            <img src="/<%= brand.banner %>" alt="profile-bg" class="rounded img-fluid js-banner-pic">
                            <% }else{ %>
                              <img src="/images/page-img/profile-bg.jpg" alt="profile-bg" class="rounded img-fluid js-banner-pic">
                          <% } %>
                          
                          <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                            <li><a href="javascript:void(0);"><i class="ri-pencil-line banner-upload-button"></i></a></li>
                            <input name="banner" class="banner-upload" type="file" accept="image/*" />
                          </ul>
                        </div>

                      </div>
                    </div>

                    <!-- <div class=" row align-items-center">
                      <div class="form-group col-sm-6">
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" id="fname" value="Nik">
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" id="lname" value="Jhon">
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="uname">User Name:</label>
                        <input type="text" class="form-control" id="uname" value="Nik@01">
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="cname">City:</label>
                        <input type="text" class="form-control" id="cname" value="Atlanta">
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="d-block">Gender:</label>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadio6" name="customRadio1" class="custom-control-input"
                            checked="">
                          <label class="custom-control-label" for="customRadio6"> Male </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadio7" name="customRadio1" class="custom-control-input">
                          <label class="custom-control-label" for="customRadio7"> Female </label>
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="dob">Date Of Birth:</label>
                        <input class="form-control" id="dob" value="1984-01-24">
                      </div>
                      <div class="form-group col-sm-6">
                        <label>Marital Status:</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option selected="">Single</option>
                          <option>Married</option>
                          <option>Widowed</option>
                          <option>Divorced</option>
                          <option>Separated </option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label>Age:</label>
                        <select class="form-control" id="exampleFormControlSelect2">
                          <option>12-18</option>
                          <option>19-32</option>
                          <option selected="">33-45</option>
                          <option>46-62</option>
                          <option>63 > </option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label>Country:</label>
                        <select class="form-control" id="exampleFormControlSelect3">
                          <option>Caneda</option>
                          <option>Noida</option>
                          <option selected="">USA</option>
                          <option>India</option>
                          <option>Africa</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label>State:</label>
                        <select class="form-control" id="exampleFormControlSelect4">
                          <option>California</option>
                          <option>Florida</option>
                          <option selected="">Georgia</option>
                          <option>Connecticut</option>
                          <option>Louisiana</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-12">
                        <label>Address:</label>
                        <textarea class="form-control" name="address" rows="5" style="line-height: 22px;">
                                37 Cardinal Lane
                                Petersburg, VA 23803
                                United States of America
                                Zip Code: 85001
                            </textarea>
                      </div>
                    </div> -->
                    
                    <div class="row pt-5">
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <!-- <button type="reset" class="btn iq-bg-danger">Cancle</button> -->
                    </div>
                    

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".logo-upload-button").on("click", function () {
      $(".logo-upload").click()
    });

    $(".banner-upload-button").on("click", function () {
      $(".banner-upload").click()
    });

    $('.logo-upload').on('change', function () {
      console.log(this.files);
      if (this.files && this.files[0]) {
        $('.js-logo-pic').attr('src', URL.createObjectURL(this.files[0]));
      }
    });

    $('.banner-upload').on('change', function () {
      console.log(this.files);
      if (this.files && this.files[0]) {
        $('.js-banner-pic').attr('src', URL.createObjectURL(this.files[0]));
      }
    });
  });
</script>